<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Bennett Chidoro">
  <meta name="description" content="Written pieces, talks, and other bits by Bennett Chidoro.">
  <title>ObiThaGreat</title>

  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2285%22>🎒</text></svg>">

</head>

<body class="avenir helvetica bg-white">

  
  <header class="mh4 mw7 flex justify-between items-center pt4">
    <a href="/" class="b f4 no-underline primary">BC</a>
    <nav class="f5">
      <a class="nav-link dim primary mr3" href="/about">about</a>
      <a class="nav-link dim primary mr3" href="/">posts</a>
      <a class="nav-link dim primary" href="https://twitter.com/ObiThaGreat" target="_blank">@ObiThaGreat</a>
    </nav>
  </header>

  {% if page.url == "/" %}
    <div class="black-90 f2 fw7 mw7 mh4 mt6 lh-title">
      <p>Top of the morning 🎩</p>
      <p>I'm Bennett. You can call me B, though.</p>
      <p>I'm obsessed with psychedelics, internet marketing, and being able to reinvent yourself as many times as it takes to get the job done.  </p>
      <p>Welcome to one of the most magical crevices on the internet 🔮</p>
      
    </div>
  {% endif %}  

  <article class="f4 lh-copy pr6-l pl6-l">
    <div class="fl w-70-l pa4 mb6">
        <div class="content">
            {{ content }}
        </div>          
    </div>

    <div class="sidebar fl w-30-l f5 pa4 mt4">
      <h2 class="mt4 tracked-tight primary mb0">
        <a href="/" class="bn no-slide">Bennett Chidoro</a>
      </h2>

      <div class="f6">
        <p class="mt0">Building <a href="http://thepsychedelicnewsletter.com/">The Psychedelic Newsletter</a>, your excuse to shroom out again.</p>
        <p>Follow me at <a href="https://twitter.com/ObiThaGreat">@ObiThaGreat</a>.</p>
        <p>Scaling info through paid ads.</p>
      </div>

      <nav class="b mt5">
        <a class="db bn bg-primary white mb1 pl2 no-slide" href="/about">About</a>
        <a class="db bn bg-primary white mb1 pl2 no-slide" href="/">Posts</a>
      </nav>
    </div>
  </article>

</body>
</html>
