<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css">
</head>
<body class="avenir helvetica bg-white">

  <div class="absolute top-1 left">
    <a href="/" class="bg-white ph3 pt3 pb2 ba0 b">BC</a>
  </div>

  <div class="hero" style="background-image: url('{{ page.image | default: "/images/front.png" }}');">
    <div class="pv6-ns pa5 tl-ns tc">
      <h1 class="f-headline-ns f3 lh-title balance-text dib ph4 pv2 bg-white">
        {{ page.title }}
      </h1>
    </div>
  </div>

  <article class="f4 lh-copy pr6-l pl6-l">
    <div class="fl w-70-l pa4 mb6">

      <div class="invert dib f6 ph3 pv1 mt3">
        {{ page.date | date: "%B %d, %Y" }}
      </div>

      <div class="content">
        {{ content }}
      </div>

    </div>

    <div class="sidebar fl w-30-l f5 pa4 mt4">
      <h2 class="mt4 tracked-tight primary mb0">
        <a href="/" class="bn no-slide">Bennett Chidoro</a>
      </h2>

      <div class="f6">
        <p class="mt0">Founder of something. Writing about whatever the hell I want.</p>
        <p>Follow me at <a href="https://twitter.com/ObiThaGreat">@ObiTheGreat</a></p>
      </div>

      <nav class="b mt5">
        <a class="db bn bg-primary white mb1 pl2 no-slide" href="/about">About</a>
        <a class="db bn bg-primary white pl2 no-slide" href="/">Posts</a>
      </nav>
    </div>
  </article>

</body>
</html>
